
<div class="poster-container2">
 <% @poster.themes.each do |theme| %>
 <div class="p3-container">

      <%= link_to cl_image_tag(theme.illustration.key), theme_path(theme) %>



  </div>
  <% end %>

</div>


<div class="options">
   <% if current_user %>
    <%= link_to 'add new poster',  new_poster_theme_path(@poster) %>
    <% end %>
<%= link_to 'posters', posters_path  %>
</div>

