html {
  background-color: #c1c1bd;
  a, h1, p {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 13px;
  }
}

.caddy {
  background-color: #9d9d9c;
  border-radius: 50px;
  position: relative;
  text-align: right;
  padding-right: 10px;
  margin-top: 5px;
  a {
    text-decoration: none;
    color: black;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 50px auto;
}

.menu-1 {
  width: 35%;
  svg {
    width: 350px;
    margin-top: -110px;
  }
}


.menu-2 {
  position: relative;
  width: 65%;
}

.links {
  display: flex;
  margin-top: 5px;
}

.links1, .links2 {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.photo-link, .poster-link, .project-link, .shop-link {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  width: 100px;
  text-align: center;
  margin: auto;
  a {
    text-decoration: none;
    color: black;
  }
}

.box-home {
  position: relative;
  display: flex;
  height: 70vh;
  width: 50%;
  margin: auto;
  margin-top: -130px;
  a {
    text-decoration: none;
    color:black;
    padding: 5px;

  }
}

.photo-box, .shop-box {
  border-style: solid;
  border-width: 1px;
  background-color: #9d9d9c;
}

.photo-box {
  width: 50%;

}

.p-box1 {
  height: 95%;
}

.p-box2 {
  height: 5%;
  a {
    float: right;
  }
}


.p-box3 {
  height: 90%;
}

.p-box4 {
  height: 10%;
  a {
    float: right;
  }
}


// faire bouger le titre autour de la case
.p2-box {
  h1 {
    text-align: center;
    margin-top: 130px;
  }
  a {
    float: right;
    margin-top: 75px;
  }
}

.p-box {
  width: 40%;
  border-top-style: solid;
  border-width: 1px;
}

.p1-box, .p2-box {
  height: 34.80vh;
  background-color: #9d9d9c;
}

.p2-box {
  position: relative;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  h1 {
    width: 27%;
    background-color: #39ff14;
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    // padding: 5px;
    animation: move 10s infinite linear;
    position: absolute;
  }
}

@keyframes move {
    0% { left: 0px; top: 0%; transform: translate(-0%, 0%); }
   25% { left: 0px; top: 100%; transform: translate(0%, -100%);}
   50% { left: 100%; top: 100%; transform: translate(-100%, -100%);}
   75% { left: 100%; top: 0%; transform: translate(-100%, -0%);}
   100% { left: 0px; top: 0%; transform: translate(-0%, 0%);}
}


.shop-box {
  width: 10%;
  writing-mode: vertical-rl;
}

footer {
  display: flex;
  margin: 10px auto;
  bottom: 0;
  width: 50%;
  a {
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    width: 50%;
    text-align: center;
    background-color: #9d9d9c;
  }
}

.photo-box, .p1-box {
  img {
    object-fit: contain;
    width: 80%;
    height: 70%;
    margin: 40px;
  }
}


div.main{
  overflow:hidden;
  border-width: 1px;
  border-radius: 50px;
  padding:15px;
  height: auto;
  background-color: #39ff14;
}


// .main {
//   overflow:hidden;
//   background-color: #2F5168;
//   margin: 2.5em auto;
//   height: auto;
//   border: 2px solid gray;
//   padding: 1.2em 0;
//   font-size: 1.5em;
//   font-family: "Agency FB";
//   color: #E4F6F8;
// }

div.slide-right p {
  -moz-animation: 10s slide-right;
  -webkit-animation: 10s slide-right;
  -o-animation: 10s slide-right;
  animation: 10s slide-right;
  margin:0;
}

div.slide-left p {
  -moz-animation: 10s slide-left;
  -webkit-animation: 10s slide-left;
  -o-animation: 10s slide-left;
  animation: 10s slide-left;
  margin:0;
}
@-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
 @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }

@-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{


html {
  a, h1, p {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 25px;
  }
}

 .menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}


.menu-1 {
  width: 100%;
  .logo {
    float: left;
  }
}

.menu-2 {
  width: 100%;
  margin-top: -70px;
}

.links1, .links2 {
  width: 100%;
}

.photo-link, .poster-link, .project-link, .shop-link {
  width: 100%;
}



.box-home {
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
}

.photo-box {
  height: 35vh;
  width: 100%;
}

.p-box {
  display: flex;
  width: 100%;
  border-top-style: none;
  // border-style: solid;
  // border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
}

.p1-box {
  border-bottom-style: none;
  // border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  width: 50%;
  height: 32vh;
}

.p2-box {
  border-top-style: none;
  border-bottom-style: none;
  // // border-right-style: solid;
  // border-width: 1px;
  width: 50%;
  height: 32vh;
  h1 {
    font-size: 20px;
  }
}

.p-box1 {
  height:93%;
  margin-left: 10%;
}

.p-box2 {
  height: 7%;
}

.p-box3 {
  height: 90%;
}

.p-box4 {
  height: 10%;
}

.shop-box {
  border-top-style: solid;
  width: 100%;
  writing-mode: horizontal-tb;
  height: 3vh;
  text-align: right;
  border-width: 1px;
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    a {
      padding: 5px;
      margin-top: 10px;
      width: 100%;
    }
  }

}
