.shop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  width:50%;
  margin: auto;
  margin-top: -130px;
  background-color: #9d9d9c;
 border-top: 1px solid black;
  border-left: 1px solid black;
}


.shop-photos, .shop-posters {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  a {
    text-decoration: none;
    color: black;
  }
}

.shop-photo, .shop-poster {
  img {
    margin-left: 65px;
  }
}

.shop-photoinfo {
  text-align: center;
}
