.shop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  width:50%;
  margin: auto;
  margin-top: -130px;
  background-color: #9d9d9c;
  border-top: 1px solid black;
  border-left: 1px solid black;
}


.shop-photos, .shop-posters {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  a {
    text-decoration: none;
    color: black;
  }
}

.shop-photo, .shop-poster {
  img {
    width: 70%;
    margin-top: 30px;
    margin-left: 60px;

  }
}

.shop-photoinfo {
  text-align: center;
  padding-left: 10px;
}

@media (max-width: 1250px) {
  .shop-container {
      grid-template-columns: repeat(2, 1fr);
      width:100%;
      margin-top: 30px;
    }


  .shop-photoinfo {
    height: 10%;
    text-align: right;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
    .shop-container {
      grid-template-columns: repeat(2, 1fr);
      width:100%;
      margin-top: 30px;
    }


  .shop-photoinfo {
    height: 10%;
    text-align: right;
  }
  }


@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (-webkit-min-device-pixel-ratio: 2)
{
  .shop-container {
      grid-template-columns: repeat(2, 1fr);
      width:100%;
      margin-top: 30px;
    }


  .shop-photoinfo {
    height: 10%;
    text-align: right;
  }

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{

  .shop-container {
    grid-template-columns: repeat(2, 1fr);
    width:100%;
    margin-top: 30px;
  }


.shop-photoinfo {
  height: 10%;
  text-align: right;
}



}
