<!-- <div class="shop-container">
<% @creations.each do |creation| %>
    <div class="shop-photos">
      <div class="shop-photo">
        <%= link_to cl_image_tag(creation.svg.key, height: 200, width: 250), creation_path(creation) %>

      </div>

      <div class="shop-photoinfo">
        <h1><%= link_to creation.name, creation_path(creation)  %></h1>
      </div>

    </div>
      <% end %>
</div>


<div class="options">
   <% if current_user %>
    <%= link_to 'add new product', new_creation_path %>
    <% end %>

</div> -->

<div class="project-container">

<h1>working on new posters available soon.</h1>
</div>
