<div class="about-container">
  <div class="bio-text">
    <h1>approximatif
      <br>shevi shena mat
      <br>found more about me here</h1>
  </div>
  <div class="bio-image">
    <%= image_tag("bio.png") %>
  </div>
</div>
