<div class="about-container">
  <div class="bio-text">
    <h1>"I am Shevi Shenaj, I am 21 years old
      <br>I am Belgian, originally from Albania, born in Greece
      <br>I am a young man, inspired by what I see,
      <br>what I experience, what I believe
      <br>Believing in honesty, in simplicity and in diversity
      <br>Being a human
      <br>Being a man discovering world
      <br>Being a man experiencing life
      <br>Being young
      <br>Being crazy
      <br>Being lost
      <br>Being found
      <br>Being again lost
      <br>Being me
      <br>I am Shevi
      <br>Shevi Shenaj
      <br>And here is how I see life
      <br>Differently than you"</h1>
  </div>
  <div class="bio-image">
    <%= image_tag("BioPhoto.png") %>
  </div>
</div>
