

<div class="box-home">

  <div class="photo-box">
    <%= link_to 'photo', photos_path %>
  </div>

  <div class="p-box">
    <div class="p1-box">
      <%= link_to 'poster', posters_path  %>
    </div>
    <div class="p2-box">
      <%= link_to 'project', projects_path %>
    </div>
  </div>

  <div class="shop-box">
    <h1>shop</h1>
  </div>

</div>



