<div class="hello">
  <h1>approximatif</h1>
</div>

<div class="profile">
  <div class="profilecards">


    <div class="pcards">
      <%= link_to "Login", user_session_path, class: "nav-link" %>
    </div>

    <div class="pcards">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </div>

  </div>

</div>
