// Place all the styles related to the Creations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  width:50%;
  margin: auto;
  margin-top: -130px;
  background-color: #9d9d9c;
  border-top: 1px solid black;
  border-left: 1px solid black;
  h1, p, a {
    text-decoration: none;
    color: black;
    font-size: 13px;
  }
}


.shop-photos {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.shop-photo {
  height: 90%;
  img {
    width: 90%;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    border-color: black;
  }
}

.shop-photoinfo {
  height: 10%;
  text-align: center;
}

.shop-show {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  width:50%;
  height: 600px;
  margin: auto;
  margin-top: -130px;
  background-color: #9d9d9c;
  h1, a, p {
    font-size: 13px;
    color:black;
  }
}

//prendra la place de l'image uploadé
.shop-image {
  height: 90%;
  img {
    width: 80%;
    height: 80%;
    margin: 60px;
  }
}

.shop-button {
  height: 10%;
}

.shop-show1 {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.shop-button {
  margin: auto;
}

.form-shop {
  input {
    width: 100px;
    background-color:#39ff14;
    border-style: none;
    // padding: 10px;
    border-radius: 50px;
    font-size: 13px;
  }
}


.shop-show2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left-style: solid;
  border-width: 1px;
  text-align: center;
}


.shop-title, .shop-description, .shop-other {
  width: 100%;

.photo-options {
  text-align: center;

}
}


@media (max-width: 1250px) {
  .shop-container {
      grid-template-columns: repeat(2, 1fr);
      width:100%;
      margin-top: 50px;
    }


 .shop-show{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    margin-top: 50px;
 }

.shop-show1 {
    width: 100%;
    height:80%;
}

.shop-image {
  height: 90%;
      img {
        width: 80%;
    height: 80%;
    margin: 110px;
      }

}

.shop-photo {
  img {
  height:400px;

}
}

.shop-button {
  height: 10%;
  margin-top: 50px;
}


.shop-show2 {
  border-top-style: solid;
  border-width: 1px;
    width: 100%;
    height: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-left-style: none;
    text-align: center;
}

.shop-title, .shop-other {
  width: 100%;
    .photo-options {
      text-align: center;
    }
}

.form-shop {
  input {
    font-size: 13px;
  }
}

}



@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
    .shop-container {
      grid-template-columns: repeat(2, 1fr);
      width:100%;
      margin-top: 50px;
      h1, p, a {
        font-size: 20px;
      }
    }

.shop-show {
  display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    margin-top: 50px;
}

.shop-show1 {
  width: 100%;
}



.form-shop {
  input {
    font-size: 20px;
  }
}
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (-webkit-min-device-pixel-ratio: 2)
{
  .shop-container {
      grid-template-columns: repeat(2, 1fr);
      width:100%;
      margin-top: 50px;
      h1, p, a {
    font-size: 20px;
  }
    }

.shop-show {
  display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    margin-top: 50px;
  h1, a, p {
    font-size: 20px;
  }
}



.shop-show1 {
  width: 100%;
}

.form-shop {
  input {
    font-size: 20px;
  }
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{

  .shop-container {
    grid-template-columns: repeat(2, 1fr);
    width:100%;
    margin-top: 50px;
    h1, p, a {
    font-size: 20px;
  }
  }

  .shop-show {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    margin-top: 50px;
  h1, a, p {
    font-size: 20px;
  }
}


.shop-show1 {
  width: 100%;
}

.form-shop {
  input {
    font-size: 20px;
  }
}


}
