// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  width:50%;
  margin: auto;
  margin-top: -130px;
  background-color: #9d9d9c;
  border-style: solid;
  border-width: 1px;
}

.photo-desciption {
  margin-top: -40px;
  padding-right: 5px;
  padding-left: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  width: 49%;
  position: absolute;
  background-color: #9d9d9c;
}

.photo-container2 {
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  width:50%;
  margin: auto;
  margin-top: -90px;
  background-color: #9d9d9c;
  border-style: solid;
  border-width: 1px;
}

.p-container {
  margin: auto;
  margin-top: 50px;
  a {
    text-decoration: none;
    color: black;
  }

}

.options {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 50%;
  a {
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    width: 33%;
    text-align: center;
    background-color: #9d9d9c;
  }
}

.photo-title , .photo-options{
  text-align: right;
  margin-top: 10px;
}

.photo-options {
  a {
    font-size: 10px;
    text-decoration: underline;
  }
}

