// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.theme-container {
  position: relative;
  display: flex;
  border-style: solid;
  border-width: 1px;
  width:50%;
  height: 600px;
  margin: auto;
  margin-top: -130px;
  background-color: #9d9d9c;
}

.theme-box {
  width: 70%;
  img {
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    width: 70%;
    height: 90%;
    object-fit: cover;
    margin: 30px;
  }
}


.theme-info {
  width: 30%;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.theme-info1 {
  padding: 5px;
  h1 {
    text-align: left;
  }
  a{
    color: black;
  }
}

.theme-other {
  padding: 5px;
  h1 {
    text-align: left;
  }
}

.theme-options {
  a {
    font-size: 10px;
  }
}

// forms

#new_theme.simple_form.new_theme, #edit_theme_3.simple_form.edit_theme {
  margin-top: 50px;
  margin-left: 30%;
}

@media (max-width: 1250px) {
  .theme-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}

.theme-box {
    height: 80%;
    width: 100%;
    img {
        width: 90%;
        margin-left: 45px;
    }
}

.theme-info {
    height: 20%;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.theme-info1 {
  padding: 20px;
  h1 {
    text-align: left;
   }
}

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
    .theme-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}

.theme-box {
    height: 80%;
    width: 100%;
    img {
        width: 90%;
        margin-left: 45px;
    }
}

.theme-info {
    height: 20%;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.theme-info1 {
  padding: 20px;
  h1 {
    text-align: left;
   }
}


  }

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (-webkit-min-device-pixel-ratio: 2)
{
.theme-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}

.theme-box {
    height: 80%;
    width: 100%;
    img {
        width: 90%;
        margin-left: 45px;
    }
}

.theme-info {
    height: 20%;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.theme-info1 {
  padding: 20px;
  h1 {
    text-align: left;
   }
}




}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
{

  .theme-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}

.theme-box {
  height: 90%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    img {
        width: 90%;
        height: 100%;
        margin: 45px;
    }
}

.theme-info {
  height: 10%;
    width: 100%;
    margin-top: 100px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme-info1 {
  width: 50%;
  padding: 20px;
  h1 {
    text-align: left;
   }
}


.theme-other {
  width: 50%;
  padding: 20px;
  h1 {
    text-align: right;
   }
}


}
