<div class="image-container">
  <div class="image-box">
    <%= cl_image_tag @image.image.key %>
  </div>

  <div class="image-info">
    <div class="image-info1">
      <h1><%= @image.photo.category %></h1>
      <h1> <%= @image.name %></h1>
    </div>
    <div class="image-other">
        <h1> <%= @image.information %> </h1>

        <% if @image.pre_order=='yes' %>
          <h1> <a href="mailto: hello@approximatif.com">ON DEMAND</a> </h1>
          <% end %>
    </div>
  </div>
</div>

